@keyframes floatUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-110vh);
  }
}

.animate-float {
  animation-name: floatUp;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
